.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }
  
.navLoaded {
    color:rgb(71, 71, 71);
}


.navNotLoaded{
    text-decoration: none;
    color: black;
}



li {
    display: inline;
    margin-right: 20px;
}