.gridHome {
    display: grid;
    grid-template-columns: 40% 60%; 
    align-items: center; 
    
    margin-top: 2rem;
  }
  
  .gridText {
    font-size: 1rem;
  }
  

  
  /* ===========================
            768px
================================*/
@media screen and (max-width:768px) {
    .gridHome {
      grid-template-columns: 1fr;
    }
  
    .gridImage,
    .gridText {
      text-align: center;
    }
  
    .gridText {
      margin-bottom: 1rem;
    }
  }