.grid-container {
    display: grid;
    gap: 20px; /* Espacio entre tarjetas */
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;

  }

    
/* ===========================
              992px
================================*/
    
 @media screen and (max-width:992px) {
     
.grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
      
    }/*992px*/


/* ===========================
            768px
================================*/

@media screen and (max-width:768px) {

    .grid-container {
            display: grid;
            grid-template-columns: 1fr;
          }
          
        }/*768px*/
        